
{% extends 'base.html.twig' %}

{% block title %} Chambre{% endblock %}

{% block body %}
     <h1><a href="{{ path('ajoutchambre') }}">Chambre</a> </h1>

     <button class="btn btn-primary ajout" id="ajout" type="button"><a href="/ajoutchambre">Ajouter chambre</a> </button>

    <table>
        <tr>
            <th>NumBat</th>
            <th>NumChmb</th>
            <th>Type</th>
            <th colspan="2">Action</th>
        </tr>
        {% for chambre in chambres  %}
            <tr>
                <td>{{chambre.nchmbr}}</td>
                <td>{{chambre.nbtmnt}} </td>
                <td>{{chambre.type}}</td>
                <td><a href="">Modifier</a></td>
                <td><a href="">Supprimer</a></td>
               
            </tr>
        {% endfor %}
       
    </table>
{% endblock %}
